@import 'tailwindcss';

@layer base {
    html,
    body {
        font-family: var(--font-sans);
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Fira Code', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Monaco, Consolas, monospace;

    /* Portfolio theme */
    --color-surface: #282C33;
    --color-surface-light: #32363e;
    --color-accent: #C778DD;
    --color-primary: #C778DD;
    --color-muted: #ABB2BF;
}
